@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

.card {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    flex-direction: row;
    height: 512px;
    width: 736px;
    border-radius: 32px;
    background: hsl(0, 0%, 100%);
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0 2.5rem;
  background: linear-gradient(to bottom, #7755ff 0%, #6943ff 20%, #2f2ce9 100%);
  border-radius: 0 0 32px 32px;
}
.results__title {
  color: hsl(241, 100%, 89%);
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}
.results__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
  padding: 1.5625rem 0;
  height: 140px;
  width: 140px;
  color: hsl(0, 0%, 100%);
  font-size: 3.5rem;
  font-weight: 800;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgb(77, 33, 201) 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
}
.results__points {
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.52;
}
.results__thanks {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.results__text {
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5rem;
  width: 260px;
}

@media (min-width: 992px) {
  .results {
    height: 100%;
    width: 368px;
    padding: 2.375rem 0 2.875rem;
    border-radius: 0 32px 32px 0;
  }
  .results__title {
    font-size: 1.5rem;
  }
  .results__score {
    margin: 2.1875rem 0 1.75rem;
    padding: 2.5rem 0;
    height: 200px;
    width: 200px;
    font-size: 4.5rem;
  }
  .results__points {
    font-size: 1.125rem;
  }
  .results__thanks {
    font-size: 2rem;
  }
  .results__text {
    font-size: 1.125rem;
    margin-top: 0.875rem;
    width: 260px;
  }
}
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.875rem 1.875rem;
}
.summary__title {
  color: hsl(224, 30%, 27%);
  font-size: 1.125rem;
  font-weight: 700;
  text-align: start;
  display: inline-block;
  width: 315px;
}
.summary__stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
  list-style: none;
}
.summary__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 56px;
  width: 315px;
  border-radius: 12px;
  z-index: 2;
}
.summary__info::before {
  height: 58px;
  width: 318px;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  background: hsla(0, 0%, 100%, 0.95);
  z-index: -1;
  overflow: hidden;
}
.summary__info--red {
  background: hsl(0, 100%, 67%);
}
.summary__info--red .summary__subtitle {
  color: hsl(0, 100%, 67%);
}
.summary__info--yellow {
  background: hsl(39, 100%, 56%);
}
.summary__info--yellow .summary__subtitle {
  color: hsl(39, 100%, 56%);
}
.summary__info--green {
  background: hsl(166, 100%, 37%);
}
.summary__info--green .summary__subtitle {
  color: hsl(166, 100%, 37%);
}
.summary__info--blue {
  background: hsl(234, 85%, 45%);
}
.summary__info--blue .summary__subtitle {
  color: hsl(234, 85%, 45%);
}
.summary__type {
  display: flex;
  gap: 0.75rem;
}
.summary__icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.summary__subtitle {
  font-size: 1rem;
  font-weight: 500;
}
.summary__points {
  color: hsl(224, 30%, 27%);
  font-size: 1rem;
  font-weight: 700;
}
.summary__score {
  display: inline-block;
  margin-right: 0.5rem;
}
.summary__total {
  opacity: 0.5;
}
.summary__btn {
  position: relative;
  overflow: hidden;
  height: 56px;
  width: 315px;
  border: none;
  background: hsl(224, 30%, 27%);
  border-radius: 128px;
  color: hsl(0, 0%, 100%);
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
}
.summary__btn span {
  position: relative;
  z-index: 2;
}
.summary__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #7755ff 0%, #6943ff 20%, #2f2ce9 100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}
.summary__btn:hover::before {
  opacity: 1;
}
.summary__btn:hover {
  box-shadow: 0 30px 60px 0 hsla(224, 82%, 58%, 0.15);
}

@media (min-width: 992px) {
  .summary {
    padding: 2.375rem 2.5rem 2.875rem;
  }
  .summary__title {
    font-size: 1.5rem;
    width: 288px;
  }
  .summary__stats {
    margin: 1.75rem 0 2.5625rem;
  }
  .summary__info {
    padding: 0 1rem;
    width: 288px;
  }
  .summary__info::before {
    top: -2px;
    height: 59px;
    width: 290px;
  }
  .summary__subtitle, .summary__points {
    font-size: 1.125rem;
  }
  .summary__btn {
    width: 288px;
  }
}
.container {
  font-family: "Hanken Grotesk", sans-serif;
  background: hsl(0, 0%, 100%);
}

@media (min-width: 992px) {
  .container {
    background: hsl(221, 100%, 96%);
  }
}

/*# sourceMappingURL=main.css.map */
